@model IEnumerable<Magnifyelshaddai.Models.BiblicalTheologyVM>

@{
    ViewBag.Title = "Biblical Theology - Magnify El Shaddai";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

@Html.Partial("_SideMenu")

<div class="container_display">
    <h2 class="main-title">Biblical Theologies</h2>
    <div class="navbar-collapse">
        @using (Html.BeginForm("BiblicalTheology", "Bible", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
        {
            <div class="form-group">
                <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
            </div>
            <button type="submit" value="Search" class="btn">Search</button>
        }

        @if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Subadmin")
        {
            <a href="@Url.Action("UploadBiblicalTheology", "Bible")">
                <span class="btn addSabbath">Add new</span>
            </a>
        }
        
        <input type="hidden" value="@Session["UserType"]" id="hdnUserType" />

        <div class="display_body">
            @*@Html.Partial("_BiblicalTheology", Model.lstBiblicalTheologies)*@
            <div>
                @grid.GetHtml(
                tableStyle: "table table-bordered",
                htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                columns: grid.Columns(
                        //grid.Column(null, null, format: @<text><img src="~/Images/plus.png" /><div style="display:none"></div></text>),

                           grid.Column(null, null, format: (item) =>
                          {
                              if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Subadmin")
                                  return Html.Raw(string.Format("<text><img src=\"{0}\"><div style='display:none'></div></text>", Url.Content("~/Images/plus.png")));
                              else
                                  return Html.Raw(string.Format(""));
                          }),
                                            grid.Column(columnName: "biblicalTheology.totalDownloadedCount", header: "D.Count"),
                                            grid.Column(columnName: "biblicalTheology.Title", header: "Title"),
                                            grid.Column(columnName: "biblicalTheology.Author", header: "Author"),
                                            grid.Column(columnName: "biblicalTheology.CreatedDateAndTime", header: "Date", format: (item) => string.Format("{0:dd-MMM-yyyy}", item.biblicalTheology.CreatedDateAndTime)),
                                    grid.Column("", header: "Downloads", style: "sno", format: @<text>
                                                @Html.ActionLink(" ", "DownloadBiblicalTheology", "Bible", new { id = item.biblicalTheology.BiblicalTheologyId }, new { target = "_blank", style = "background: url('/Images/pdf-icon.png') no-repeat;display:block;height: 25px;width: 25px;vertical-align:middle;margin: 0px 0px 0px 30px;background-size: 100% 100%;" })
                                    </text>),

                                                                                                                              grid.Column(format: (item) =>
                                                                                                                              {
                                                                                                                                  WebGrid subGrid = new WebGrid(source: item.lstBiblicalTheologyDownloadDetails, canSort: false, canPage: false);
                                                                                                                                  return subGrid.GetHtml(
                                                                                                                                      htmlAttributes: new { @class = "ChildGrid" },
                                                                                                                                      columns: subGrid.Columns(
                                                                                                                                      subGrid.Column(columnName: "DownloadedBy", header: "Downloaded By")
                                                                                                                                      ));
                                                                                                                              })
                                                                                                                              ))
                <div class="row">
                    <div class="col-sm-6">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .Grid {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        .Grid th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        .Grid th, .Grid td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        .Grid img {
            cursor: pointer;
        }

    .ChildGrid {
        width: 100%;
    }

        .ChildGrid th {
            background-color: #3076ce;
            color: #fff;
            font-weight: bold;
        }

        .ChildGrid tbody tr:nth-child(even) {
            background-color: rgb(15 120 220 / 30%) !important;
        }

        .ChildGrid tbody tr td, th {
            padding: 5px 10px;
        }

    table tfoot {
        display: none;
    }
</style>

<script type="text/javascript">
    $(function () {
        var hdnUserType = $('#hdnUserType').val();
        if (hdnUserType != "Admin" && hdnUserType != "Subadmin") {
            $("table tr th:nth-child(1), table tr td:nth-child(1)").css("display", "none");
            $("table tr th:nth-child(2), table tr td:nth-child(2)").css("display", "none");
        }

        //Loop through all Child Grids.
        $("#WebGrid .ChildGrid").each(function () {
            //Copy the Child Grid to DIV.
            var childGrid = $(this).clone();
            $(this).closest("TR").find("TD").eq(0).find("DIV").append(childGrid);

            //Remove the Last Column from the Row.
            $(this).parent().remove();
        });

        //Remove Last Column from Header Row.
        $("#WebGrid TH:last-child").eq(0).remove();
    });
    //Assign Click event to Plus Image.
    $("body").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "/images/minus.png");
    });
    //Assign Click event to Minus Image.
    $("body").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>
