<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../Images/mothermary.png" sizes="16x16" type="image/png">
    <title>@ViewBag.Title - Magnify Elshaddai</title>
    <!-- Bootstrap -->
    <link href="../Elshaddai/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../Elshaddai/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Style -->
    <link href="../Elshaddai/css/style.css" rel="stylesheet" />

    <style>
        .field-validation-error {
            color: red;
        }

        .banner-vg {
            background: url(../images/banner.jpg) no-repeat top center fixed;
            background-size: cover;
            width: 100%;
            height: 30vh;
            overflow: hidden;
            position: relative;
        }

        .banner-search {
            position: absolute;
            top: -8em;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .navbr {
            margin: 26px 0px;
        }

        .navbr-hd {
            margin: 20px 0px 15px 0px;
            font-weight: bold;
        }
    </style>
</head>
<body class="@ViewBag.Title">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a href="@Url.Action("Index", "VirginBiblio")"><img src="~/Images/VB_Logo_Color.jpg" class="zoomclass" width="210" height="72" /></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    @*<div class="navigation">
                            <div id="navigation">
                                <a href="@Url.Action("VirginBiblio", "Documents")"><img src="~/Images/logo.png" width="150" height="50" /></a>
                            </div>
                        </div>*@
                    <div class="navigation" style="margin-top: 25px;">
                        <a href="@Url.Action("Dashboard", "SabbathDay")" class="sr-hm" style=" line-height: 50px;">Home</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                    <a href="@Url.Action("Dashboard", "SabbathDay")"><img src="~/Images/Tamil_VirginBiblio_Logo.jpg" class="zoomclass" width="200" height="72" /></a>
                </div>
            </div>
        </div>
    </div>
    <div id="body">
        <div class="banner-vg">

        </div>
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            <div>
                @RenderBody()
            </div>
        </section>
    </div>
    <div class="footer">
        <!-- footer-->
        <div class="container">
            <div class="footer-block" style="color: #fff;">
                <p>We are the People of G_D of Israel. Our Lord Almighty provides us everything through WORD, for thousands of years ago, he transmitted his Holy Spirit and salvation through the Bible. From the printed books, each new medium democratized knowledge about the G_D and brought more people into the kingdom of G_D. We are the generation charged with the technology to share these invaluable texts from print to digital to explore G_D and to integrate our souls with him for the greater glory of G_D.</p>
                <p>It is an open platform to learn and understand biblical text in a comprehensive manner. We are assembling a free-living library of biblical, Jewish texts and their interconnections. With these digital texts, we can create new interactive interfaces for Web, tablet, and mobile, allowing more people to engage with the textual treasures of the word of G_D.</p>

                <div class="tiny-footer">
                    <!-- tiny footer block -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright-content">
                                copy right <i class="fa fa-love"></i><a href="http://www.magnifyelshaddai.com/">Magnify Elshaddai</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tiny footer block -->
            </div>
            <!-- /.footer block -->
        </div>
    </div>
    <!-- /.footer-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../Elshaddai/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../Elshaddai/js/bootstrap.min.js"></script>
    <script src="../Elshaddai/js/menumaker.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
