@model IEnumerable<Magnifyelshaddai.Models.EDMXModel.PrayerRain>

@{
    ViewBag.Title = "Prayer Rain";
}

@Html.Partial("_SideMenu")

<div class="container_display prayer-rain">
    <img src="~/Images/prayer_rain_logo.png" alt="Prayer Rain logo" class="prayer-rain-img" />
    <h2 class="page-title top-center"> Prayer Rain </h2>
    <div id="instructions"></div>
    <canvas id="canvas">Canvas is not supported in your browser</canvas>


    <span class="prayer-rain-span hint">Hint: We can use <a href="http://tamil-bible.com/" target="_blank">www.tamil-bible.com</a> web site to copy and paste the Tamil Bible Verses in Prayer Rain.</span>
    <span class="prayer-rain-span note">Note: User can edit the Prayer Rain upto 1 hour from the time of user created the prayer rain.</span>
    <div class="prayer-rain-div button">
        @if (Session["UserType"].ToString() != "Admin")
        {
            <input type="button" value="Create New Prayer" class="prayer-rain-button btn-primary" onclick="location.href='@Url.Action("Create", "PrayerRain")'" />
        }
        <p style="color:red;font-weight: bold;">@ViewBag.ErrorMessage</p>
        @ViewBag.ErrorMessage1
    </div>
    <div class="table-responsive">
        <table class="table">
            @{
                if (Session["User"] != null)
                {
                    if (Session["UserType"].ToString() == "Member")
                    {
                        <thead>
                            <tr>
                                <th>Prayer Rain ID</th>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Verses)</th>
                                <th>@Html.DisplayNameFor(model => model.Prayer)</th>
                                <th>Created By</th>
                                <th>Created Date and Time</th>
                                <th>File Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        foreach (var item in ViewBag.AdminProvisionToBeApprovedPrayerRainForMember)
                        {
                            <tr>
                                <td>@item.PrayerRainId</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@item.PrayerRainCreatedBy</td>
                                <td>@item.CreatedDateAndTime.ToString("dd-MMM-yyy HH:mm")</td>
                                <td class="prayer-rain-full">@item.FileName</td>
                                <td class="prayer-rain-full">
                                    @if (item.PrayerRainFilePath != null)
                                    {
                                        @Html.ActionLink(" ", "PrayerRainDownloadFile", "Documents", new { id = item.PrayerRainId }, new { target = "_blank", style = "background: url('/Images/pdf-icon.png') no-repeat;" })
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" style="pointer-events: none;"> </a>
                                    }
                                    <a class="prayerrain-edit" href="@Url.Action("Edit", "PrayerRain", new { id = item.PrayerRainId })">
                                        <i class="fas fa-edit" style="color:black;"></i>
                                    </a>
                                    <span style="cursor:pointer;" onclick="return ConfirmDelete(@item.PrayerRainId)"><i class="fa fa-trash" style="color:black;"></i></span>
                                    @*<span style="cursor:pointer;" onclick="return ConfirmApprove(@item.PrayerRainId)"><i class="fa fa-check" style="color:black;"></i></span>*@
                                </td>
                            </tr>
                        }

                        @*foreach (var item in ViewBag.ApprovedPrayerRainForMember)
                            {
                                <tr>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                </tr>
                            }*@
                    }
                    else if (Session["UserType"].ToString() == "Admin" || Session["UserType"].ToString() == "Subadmin")
                    {
                        <thead>
                            <tr>
                                <th>Prayer Rain ID</th>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Verses)</th>
                                <th>@Html.DisplayNameFor(model => model.Prayer)</th>
                                <th>Created By</th>
                                <th>Uploaded By</th>
                                <th>Created Date and Time</th>
                                <th>File Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        foreach (var item in ViewBag.AdminProvisionToBeApprovedPrayerRainForAdmin)
                        {
                            <tr>
                                <td>@item.PrayerRainId</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@item.PrayerRainCreatedBy</td>
                                <td>@item.PrayerRainUploadedBy</td>
                                <td>@item.CreatedDateAndTime.ToString("dd-MMM-yyy HH:mm tt")</td>
                                <td class="prayer-rain-full">@item.FileName</td>
                                <td class="prayer-rain-full">
                                    @Html.ActionLink(" ", "PrayerRainDownloadFile", "Documents", new { id = item.PrayerRainId }, new { target = "_blank", style = "background: url('/Images/pdf-icon.png') no-repeat;" })
                                    <span style="cursor:pointer;" onclick="return ConfirmDelete(@item.PrayerRainId)"><i class="fa fa-trash" style="color:black;"></i></span>
                                    <span style="cursor:pointer;" onclick="return ConfirmApprove(@item.PrayerRainId)"><i class="fa fa-check" style="color:black;"></i></span>
                                </td>
                            </tr>
                        }

                        @*foreach (var item in ViewBag.ApprovedPrayerRainForMember)
                            {
                                <tr>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                    <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty)</td>
                                </tr>
                            }*@
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th>Prayer Rain ID</th>
                                <th>@Html.DisplayNameFor(model => model.Title)</th>
                                <th>@Html.DisplayNameFor(model => model.Verses)</th>
                                <th>@Html.DisplayNameFor(model => model.Prayer)</th>
                                <th>Created By</th>
                                <th>Created Date and Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        foreach (var item in ViewBag.EditableForUser)
                        {
                            <tr>
                                <td>@item.PrayerRainId</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@Session["UserName"].ToString()</td>
                                <td>@item.CreatedDateAndTime.ToString("dd-MMM-yyy HH:mm tt")</td>
                                <td class="prayer-rain-full">
                                    <a href="@Url.Action("Edit", "PrayerRain", new { id = item.PrayerRainId })">
                                        <i class="fas fa-edit" style="color:black;"></i>
                                    </a>
                                    <span style="cursor:pointer;" onclick="return ConfirmDelete(@item.PrayerRainId)"><i class="fa fa-trash" style="color:black;"></i></span>
                                </td>
                            </tr>
                        }

                        foreach (var item in ViewBag.NotEditableForUser)
                        {
                            <tr>
                                <td>@item.PrayerRainId</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Title, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Verses, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@System.Text.RegularExpressions.Regex.Replace(item.Prayer, @"<[^>]+>|&nbsp;", String.Empty).Replace("&ldquo;", "\"").Replace("&quot;", "\"").Replace("&rdquo;", "\"").Replace("&#39;", "'")</td>
                                <td>@Session["UserName"].ToString()</td>
                                <td>@item.CreatedDateAndTime.ToString("dd-MMM-yyy HH:mm tt")</td>
                                <td>
                                    @*<a style="color: black; pointer-events: none;" href="@Url.Action("Edit", "PrayerRain", new { id = item.PrayerRainId })">
                                            <i class="fas fa-edit" style="color: black;"></i>
                                        </a>&nbsp;
                                        <a style="color: black; pointer-events: none;" href="@Url.Action("Delete", "PrayerRain", new { id = item.PrayerRainId })">
                                            <i class="fa fa-trash" style="color: black; pointer-events: none"></i>
                                        </a>*@
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
</div>

<script>

    // Falling rain simulation using 2D canvas
    // - vanilla JS, no frameworks
    // - framerate independent physics
    // - slow-mo / fast-forward support via demo.speed
    // - supports high-DPI screens
    // - falling rain particles are drawn as vector lines
    // - splash particles are lazily pre-rendered so gradients aren't computed each frame
    // - all particles make use of object pooling to further boost performance

    // initialize
    document.addEventListener("DOMContentLoaded", function () {
        demo.init();
        // window.addEventListener('resize', demo.resize);
    });

    // demo namespace
    var demo = {
        // CUSTOMIZABLE PROPERTIES
        // - physics speed multiplier: allows slowing down or speeding up simulation
        speed: 1,
        // - color of particles
        color: {
            r: '80',
            g: '175',
            b: '255',
            a: '0.5'
        },

        // END CUSTOMIZATION
        // whether demo is running
        started: false,
        // canvas and associated context references
        canvas: null,
        ctx: null,
        // viewport dimensions (DIPs)
        width: 0,
        height: 0,
        // devicePixelRatio alias (should only be used for rendering, physics shouldn't care)
        dpr: window.devicePixelRatio || 1,
        // time since last drop
        drop_time: 0,
        // ideal time between drops (changed with mouse/finger)
        drop_delay: 25,
        // wind applied to rain (changed with mouse/finger)
        wind: 4,
        // color of rain (set in init)
        rain_color: null,
        rain_color_clear: null,
        // rain particles
        rain: [],
        rain_pool: [],
        // rain droplet (splash) particles
        drops: [],
        drop_pool: []
    };

    // demo initialization (should only run once)
    demo.init = function () {
        if (!demo.started) {
            demo.started = true;
            demo.canvas = document.getElementById('canvas');
            demo.ctx = demo.canvas.getContext('2d');
            var c = demo.color;
            demo.rain_color = 'rgba(' + c.r + ',' + c.g + ',' + c.b + ',' + c.a + ')';
            demo.rain_color_clear = 'rgba(' + c.r + ',' + c.g + ',' + c.b + ',0)';
            demo.resize();
            Ticker.addListener(demo.step);

            //
            const gui = new dat.GUI();
            gui.add(demo, 'speed', 0.2, 2);

            // fade out instructions after a few seconds
            var instructions = document.getElementById('instructions');
            setTimeout(function () {
                instructions.style.opacity = 0;
                setTimeout(function () {
                    instructions.parentNode.removeChild(instructions);
                }, 2000);
            }, 4000);
        }
    }

    // (re)size canvas (clears all particles)
    demo.resize = function () {
        // localize common references
        var rain = demo.rain;
        var drops = demo.drops;
        // recycle particles
        for (var i = rain.length - 1; i >= 0; i--) {
            rain.pop().recycle();
        }
        for (var i = drops.length - 1; i >= 0; i--) {
            drops.pop().recycle();
        }
        // resize
        demo.width = window.innerWidth;
        demo.height = window.innerHeight;
        demo.canvas.width = demo.width * demo.dpr;
        demo.canvas.height = demo.height * demo.dpr;
    }

    demo.step = function (time, lag) {
        // localize common references
        var demo = window.demo;
        var speed = demo.speed;
        var width = demo.width;
        var height = demo.height;
        var wind = demo.wind;
        var rain = demo.rain;
        var rain_pool = demo.rain_pool;
        var drops = demo.drops;
        var drop_pool = demo.drop_pool;

        // multiplier for physics
        var multiplier = speed * lag;

        // spawn drops
        demo.drop_time += time * speed;
        while (demo.drop_time > demo.drop_delay) {
            demo.drop_time -= demo.drop_delay;
            var new_rain = rain_pool.pop() || new Rain();
            new_rain.init();
            var wind_expand = Math.abs(height / new_rain.speed * wind); // expand spawn width as wind increases
            var spawn_x = Math.random() * (width + wind_expand);
            if (wind > 0) spawn_x -= wind_expand;
            new_rain.x = spawn_x;
            rain.push(new_rain);
        }

        // rain physics
        for (var i = rain.length - 1; i >= 0; i--) {
            var r = rain[i];
            r.y += r.speed * r.z * multiplier;
            r.x += r.z * wind * multiplier;
            // remove rain when out of view
            if (r.y > height) {
                // if rain reached bottom of view, show a splash
                r.splash();
            }
            // recycle rain
            if (r.y > height + Rain.height * r.z || (wind < 0 && r.x < wind) || (wind > 0 && r.x > width + wind)) {
                r.recycle();
                rain.splice(i, 1);
            }
        }

        // splash drop physics
        var drop_max_speed = Drop.max_speed;
        for (var i = drops.length - 1; i >= 0; i--) {
            var d = drops[i];
            d.x += d.speed_x * multiplier;
            d.y += d.speed_y * multiplier;
            // apply gravity - magic number 0.3 represents a faked gravity constant
            d.speed_y += 0.3 * multiplier;
            // apply wind (but scale back the force)
            d.speed_x += wind / 25 * multiplier;
            if (d.speed_x < -drop_max_speed) {
                d.speed_x = -drop_max_speed;
            } else if (d.speed_x > drop_max_speed) {
                d.speed_x = drop_max_speed;
            }
            // recycle
            if (d.y > height + d.radius) {
                d.recycle();
                drops.splice(i, 1);
            }
        }

        demo.draw();
    }

    demo.draw = function () {
        // localize common references
        var demo = window.demo;
        var width = demo.width;
        var height = demo.height;
        var dpr = demo.dpr;
        var rain = demo.rain;
        var drops = demo.drops;
        var ctx = demo.ctx;

        // start fresh
        ctx.clearRect(0, 0, width * dpr, height * dpr);

        // draw rain (trace all paths first, then stroke once)
        ctx.beginPath();
        var rain_height = Rain.height * dpr;
        for (var i = rain.length - 1; i >= 0; i--) {
            var r = rain[i];
            var real_x = r.x * dpr;
            var real_y = r.y * dpr;
            ctx.moveTo(real_x, real_y);
            // magic number 1.5 compensates for lack of trig in drawing angled rain
            ctx.lineTo(real_x - demo.wind * r.z * dpr * 1.5, real_y - rain_height * r.z);
        }
        ctx.lineWidth = Rain.width * dpr;
        ctx.strokeStyle = demo.rain_color;
        ctx.stroke();

        // draw splash drops (just copy pre-rendered canvas)
        for (var i = drops.length - 1; i >= 0; i--) {
            var d = drops[i];
            var real_x = d.x * dpr - d.radius;
            var real_y = d.y * dpr - d.radius;
            ctx.drawImage(d.canvas, real_x, real_y);
        }
    }


    // Rain definition
    function Rain() {
        this.x = 0;
        this.y = 0;
        this.z = 0;
        this.speed = 25;
        this.splashed = false;
    }
    Rain.width = 5;
    Rain.height = 40;
    Rain.prototype.init = function () {
        this.y = Math.random() * -100;
        this.z = Math.random() * 0.5 + 0.5;
        this.splashed = false;
    }
    Rain.prototype.recycle = function () {
        demo.rain_pool.push(this);
    }
    // recycle rain particle and create a burst of droplets
    Rain.prototype.splash = function () {
        if (!this.splashed) {
            this.splashed = true;
            var drops = demo.drops;
            var drop_pool = demo.drop_pool;

            for (var i = 0; i < 16; i++) {
                var drop = drop_pool.pop() || new Drop();
                drops.push(drop);
                drop.init(this.x);
            }
        }
    }


    // Droplet definition
    function Drop() {
        this.x = 0;
        this.y = 0;
        this.radius = Math.round(Math.random() * 2 + 1) * demo.dpr;
        this.speed_x = 0;
        this.speed_y = 0;
        this.canvas = document.createElement('canvas');
        this.ctx = this.canvas.getContext('2d');

        // render once and cache
        var diameter = this.radius * 2;
        this.canvas.width = diameter;
        this.canvas.height = diameter;

        var grd = this.ctx.createRadialGradient(this.radius, this.radius, 1, this.radius, this.radius, this.radius);
        grd.addColorStop(0, demo.rain_color);
        grd.addColorStop(1, demo.rain_color_clear);
        this.ctx.fillStyle = grd;
        this.ctx.fillRect(0, 0, diameter, diameter);
    }

    Drop.max_speed = 5;

    Drop.prototype.init = function (x) {
        this.x = x;
        this.y = demo.height;
        var angle = Math.random() * Math.PI - (Math.PI * 0.5);
        var speed = Math.random() * Drop.max_speed;
        this.speed_x = Math.sin(angle) * speed;
        this.speed_y = -Math.cos(angle) * speed;
    }
    Drop.prototype.recycle = function () {
        demo.drop_pool.push(this);
    }




    // handle interaction
    demo.mouseHandler = function (evt) {
        demo.updateCursor(evt.clientX, evt.clientY);
    }
    demo.touchHandler = function (evt) {
        evt.preventDefault();
        var touch = evt.touches[0];
        demo.updateCursor(touch.clientX, touch.clientY);
    }
    demo.updateCursor = function (x, y) {
        x /= demo.width;
        y /= demo.height;
        var y_inverse = (1 - y);

        demo.drop_delay = y_inverse * y_inverse * y_inverse * 100 + 2;
        demo.wind = (x - 0.5) * 50;
    }

    document.addEventListener('mousemove', demo.mouseHandler);
    document.addEventListener('touchstart', demo.touchHandler);
    document.addEventListener('touchmove', demo.touchHandler);



    // Frame ticker helper module
    var Ticker = (function () {
        var PUBLIC_API = {};

        // public
        // will call function reference repeatedly once registered, passing elapsed time and a lag multiplier as parameters
        PUBLIC_API.addListener = function addListener(fn) {
            if (typeof fn !== 'function') throw ('Ticker.addListener() requires a function reference passed in.');

            listeners.push(fn);

            // start frame-loop lazily
            if (!started) {
                started = true;
                queueFrame();
            }
        };

        // private
        var started = false;
        var last_timestamp = 0;
        var listeners = [];
        // queue up a new frame (calls frameHandler)
        function queueFrame() {
            if (window.requestAnimationFrame) {
                requestAnimationFrame(frameHandler);
            } else {
                webkitRequestAnimationFrame(frameHandler);
            }
        }
        function frameHandler(timestamp) {
            var frame_time = timestamp - last_timestamp;
            last_timestamp = timestamp;
            // make sure negative time isn't reported (first frame can be whacky)
            if (frame_time < 0) {
                frame_time = 17;
            }
                // - cap minimum framerate to 15fps[~68ms] (assuming 60fps[~17ms] as 'normal')
            else if (frame_time > 68) {
                frame_time = 68;
            }

            // fire custom listeners
            for (var i = 0, len = listeners.length; i < len; i++) {
                listeners[i].call(window, frame_time, frame_time / 16.67);
            }

            // always queue another frame
            queueFrame();
        }

        return PUBLIC_API;
    }());

    function ConfirmDelete(prayerRainID) {
        var result = confirm("Are you sure to delete this Prayer Rain?");
        if (result == true) {
            var url = "/PrayerRain/Delete/";
            $.ajax({
                type: 'POST',
                url: url,
                data: { id: prayerRainID },

                success: function (evt) {
                    alert('Deleted Successfully');
                    location.reload();
                },
                error: function (XMLHttpRequest, deleteStatus, errorThrown) {
                    alert('Delete unsuccessful : ' + deleteStatus + ' ' + errorThrown);
                }
            });
        } else {
            return false;
        }
    }

    function ConfirmApprove(prayerRainID) {
        var result = confirm("Are you sure to approve this Prayer Rain?");
        if (result == true) {
            var url = "/PrayerRain/Approve/";
            $.ajax({
                type: 'POST',
                url: url,
                data: { id: prayerRainID },

                success: function (evt) {
                    alert('Approved Successfully');
                    location.reload();
                },
                error: function (XMLHttpRequest, deleteStatus, errorThrown) {
                    alert('Approved unsuccessfully : ' + deleteStatus + ' ' + errorThrown);
                    alert("@ViewBag.ErrorMessage");
                    alert("@ViewBag.ErrorMessage1");
                }
            });
        } else {
            return false;
        }
    }
</script>
